<md-card>
  <!--<md-toolbar color="accent">Messages</md-toolbar>-->
  <md-card-title> Messages </md-card-title>
  <md-card-content>
  <ag-grid-angular #messageGrid style="width: 100%; height: 500px;" class="ag-material"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"

      enableColResize
      enableSorting
      enableFilter

      rowHeight="46"
      rowSelection="multiple"


      paginationPageSize="5"
      rowModelType="pagination"

      (gridReady)="onGridReady()">
  </ag-grid-angular>
  </md-card-content>
</md-card>
