<div fxLayout="row" fxLayoutAlign="center center">
  <md-card fxFlex="500px" class="md-elevation-z6">
    <md-card-content>
      <form (ngSubmit)="onSubmit()">
        <md-input-container style="width: 100%">
          <input md-input placeholder="New Password" type="password" [(ngModel)]="password" name="password" required>
          <span md-suffix><md-icon>visibility_off</md-icon></span>
        </md-input-container>
        <md-input-container style="width: 100%">
          <input md-input placeholder="Confirm New Password" type="password" [(ngModel)]="confirmPassword" name="password" required>
          <span md-suffix><md-icon>visibility_off</md-icon></span>
          <md-hint *ngIf="isPasswordDiff" class="text-danger">Confirm New Password should be same as New Pasword</md-hint>
        </md-input-container>
        <button type="submit" md-raised-button color="primary" class="submit">CHANGE PASSWORD</button>
      </form>
    </md-card-content>
  </md-card>
</div>
