.page-not-found {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;

  md-card {
    width: 500px;
    padding: 0;
  }

  md-toolbar {
    padding: 50px 80px;
    height: 200px;
    h1 {
      font-weight: lighter;
    }
  }

  button[md-fab] {
    left: 80%;
    top: -28px
  }

  md-card-title {
    padding: 16px;
  }
}
